
# Dependency directories
node_modules/
.yarn/cache/

# Expo/React Native
.expo/
.expo-shared/
web-build/
temp/
dist/
build/
*.jks
*.p8
*.keystore
*.orig
*.xccheckout
*.xcworkspace
*.xcodeproj/project.xcworkspace/
xcuserdata/
.DS_Store
ios/build/
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
android/app/src/main/assets/
!android/app/src/main/assets/expo-asset-map.json # Keep this specific file if it exists and is needed by Expo

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.react-native/
.vscode/

node_modules
.DS_Store
.expo
.expo-shared
*.log
.env
